* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alegreya", serif;
    font-style: normal;
    background-color: #391912;
    color: white;
}   
/*This is the CSS for our Nav bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2a67a; /* Background color */
    padding: 15px 20px;
}

.navbar-logo {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

.navbar-menu.active {
    display: flex;
}


/*This is the main section of our page, where the heart lies.*/

.main-content {
    text-align: center;
    padding: 50px 20px;
}

.image-container {
    margin-bottom: 20px;
}

.heart-image {
    max-width: 25%;
    height: auto;
}

.text-content .main-text {
    margin-bottom: 10px;
    font-size: 2.5em;
}

.text-content .sub-text {
    font-size: 1.9em;
}






/*Media Queries*/
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
    .heart-image {
        max-width: 50%;
        height: auto;
    }
}