* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2a67a; /* Background color */
    padding: 15px 20px;
}

.navbar-logo {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}

.navbar-menu.active {
    display: flex;
}
